/* 去除默认样式和初始化 */
*,::before,::after{
    margin: 0;
    padding: 0;

    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
}

body{
    font-size: 14px;
    font-family: "Microsoft YaHei",sans-serif;
}

a{
    text-decoration: none;
    color: #000;
}

ul{
    list-style: none;
}

input,textarea{
    border: none;
    resize: none;
    /*清除选中效果*/
    outline: none;
    /*清除浏览器默认的样式*/
    -webkit-appearance: none;
}

/* 清除浮动 */
.clearfix::before,
.clearfix::after{
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}

/* 精灵图片 */
[class^="icon_"]{
    background: url("../images/sprites.png") no-repeat;
    background-size: 200px 200px;
}
