body{
    background: #f5f5f5;
}
.jd_topBar{
    position: relative;
}
/*安全提示*/
.jd_safeTip{
    width: 100%;
    height: 34px;
    line-height: 34px;
    font-size: 13px;
    text-align: center;
    background: #fff;
    border: 1px solid #e0e0e0;
}

.jd_safeTip p{
    display: inline-block;
    position: relative;
    padding-left: 25px;
}

.jd_safeTip p::before{
    content: "";
    display: block;
    width: 18px;
    height: 18px;

    background: url("../images/safe_icon.png") no-repeat;
    background-size: 18px 18px;
    position: absolute;
    left: 0;
    top: 8px;
}

/*公用的复选框*/
.jd_check_box{
    width: 20px;
    height: 20px;
    display: block;

    background: url("../images/shop-icon.png") no-repeat;
    background-size: 50px 100px;
    background-position: 0 0;
}

.jd_check_box[checked]{
    background-position: -25px 0;
}
/*内容区块*/
.jd_shop{
    margin-top: 10px;
    background: #fff;
}
/*头部*/
.jd_shop .jd_shop_tit{
    height: 36px;
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
}

.jd_shop .jd_shop_tit .tit_check{
    width: 40px;
    height: 35px;
    position: absolute;
}

.jd_shop .jd_shop_tit .tit_check .jd_check_box{
    position: absolute;
    top: 8px;
    left: 10px;
}

.jd_shop .jd_shop_tit .tit_name{
    padding-left: 40px;
    font-size: 12px;
}

.jd_shop .jd_shop_tit .tit_name .img_logo{
    margin-top: 12px;
    width: 15px;
    height: 13px;
    display: block;
    float: left;
}

.jd_shop .jd_shop_tit .tit_name .name{
    float: left;
    font-size: 13px;
    height: 35px;
    line-height: 35px;
    margin-left: 4px;
}

.jd_shop .jd_shop_tit .tit_name .tip{
    float: right;
    margin-right: 10px;
    height: 35px;
    line-height: 35px;
    color: #d8505c;
}

/*内容*/
.jd_shop .jd_shop_con{
    border-bottom: 1px solid #e0e0e0;
    position: relative;
}

.jd_shop .jd_shop_con .con_check{
    position: absolute;
    top: 20px;
    left: 10px;
}

.jd_shop .jd_shop_con .con_product{
    margin-top: 10px;
    padding-left: 40px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.jd_shop .jd_shop_con .con_product .con_product_img{
    float:left;
    width: 80px;
    height: 80px;
    margin-right: 10px;
    display: block;
    position: absolute;
}
.jd_shop .jd_shop_con .con_product .con_product_img img{
    width: 100%;
    height: 100%;
    display: block;
}

.jd_shop .jd_shop_con .con_product .con_product_box{
    display: inline-block;
    width: 100%;
    padding-left: 90px;
}

/*名字*/
.jd_shop .jd_shop_con .con_product .con_product_box .name{
    height: 30px;
    line-height: 15px;
    font-size: 13px;
    overflow: hidden;
    display: block;
}

.jd_shop .jd_shop_con .con_product .con_product_box .price{
    margin-top: 5px;
}

.jd_shop .jd_shop_con .con_product .con_product_box .option{
    width: 100%;
    height: 24px;
    margin-top: 5px;
}

.jd_shop .jd_shop_con .con_product .con_product_box .option .change_box{
    float: left;
}

.jd_shop .jd_shop_con .con_product .con_product_box .option .change_box .change_left{
    float: left;
    width: 32px;
    height: 24px;
    border: 1px solid #e0e0e0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    text-align: center;
}

.jd_shop .jd_shop_con .con_product .con_product_box .option .change_box .tel{
    float: left;
    width: 32px;
    height: 24px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
}

.jd_shop .jd_shop_con .con_product .con_product_box .option .change_box .change_right{
    float: left;
    width: 32px;
    height: 24px;
    border: 1px solid #e0e0e0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: center;
}

.jd_shop .jd_shop_con .con_product .con_product_box .option .delete_box{
    float: right;
}

.jd_shop .jd_shop_con .con_product .con_product_box .option .delete_box .delete_box_top {
    width: 20px;
    height: 5px;
    background: url("../images/delete_up.png") no-repeat;
    background-size: 20px 5px;
    margin-left: -1px;
}

.jd_shop .jd_shop_con .con_product .con_product_box .option .delete_box .delete_box_bot{
    width: 18px;
    height: 18px;
    background: url("../images/delete_down.png") no-repeat;
    background-size: 18px 18px;
    margin-top: -3px;
}

/*底部订单金额操作*/
.jd_amount{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 62px;
    background: rgba(0,0,0,0.8);

    color: white;
}
/*复选框*/
.jd_amount .amount_check{
    width: 80px;
    line-height: 62px;
    position: absolute;
}

.jd_amount .amount_check .jd_check_box{
    position: absolute;
    top: 22px;
    left: 5px;
}

.jd_amount .amount_check span{
    padding-left: 25px;
    line-height: 62px;
    font-size: 14px;
}

/*显示的金额*/
.jd_amount .amount_info{
    padding-left: 80px;
    padding-right: 120px;
}

/*金额信息*/
.jd_amount .amount_info .sum{
    font-size: 16px;
    margin-top: 15px;
}
/*金额信息*/
.jd_amount .amount_info .other{
    font-size: 10px;
    margin-top: 5px;
}

/*提交按钮*/
.jd_amount .amount_submit{
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    width: 120px;
    height: 62px;
    background-color: #d8505c;
    font-size: 18px;
    line-height: 62px;
    color: #ffffff;
    text-align: center;
}

.jd_amount .amount_submit span{
    font-size: 12px;
    color: #ffffff;
}

/*弹出层*/
.jd_win{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 1001;
}

.jd_win .jd_win_box{
    width: 80%;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    background-color: #ffffff;
    margin: 20px auto;
    padding: 0 5%;
}

.jd_win .jd_win_box .jd_win_text{
    line-height: 75px;
    color: #666;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 10px;
}

.jd_win .jd_win_box .jd_btn_box{
    font-size: 15px;
    margin-bottom: 10px;
}

.jd_win .jd_win_box .jd_btn_box .cancle{
    width: 45%;
    height: 36px;
    float: left;
    margin-right: 10%;
    background: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    color: #888;
    text-align: center;
    line-height: 36px;
}

.jd_win .jd_win_box .jd_btn_box .submit{
    width: 45%;
    height: 36px;
    float: left;
    background-color: #d8505c;
    border-radius: 4px;
    color: #ffffff;
    text-align: center;
    line-height: 36px;
}
