
body{
    background: #f5f5f5;
}

.jd_layout{
    min-width: 300px;
    max-width: 640px;
    margin: 0 auto;
    position: relative;
}

/* 搜索的头部 */
.jd_header{
    width: 100%;
    position: fixed;
    height: 40px;
    top: 0;
    left: 0;
    z-index: 999;
}

.jd_header>.jd_header_box{
    min-width: 300px;
    max-width: 640px;
    height: 40px;
    margin: 0 auto;
    position: relative;
    background: rgba(201,21,35,0.85);
}

.jd_header>.jd_header_box>.icon_logo{
    background-position: 0 -103px;
    width: 60px;
    height: 36px;
    display: block;
    position: absolute;
    top: 4px;
    left: 10px;
}

.jd_header>.jd_header_box>.login{
    width: 50px;
    height: 40px;
    color: #fff;
    line-height: 40px;
    display: block;

    position: absolute;
    top: 0;
    right: 0;
}

.jd_header>.jd_header_box>form{
    width: 100%;
    height: 40px;
    padding-left: 75px;
    padding-right: 55px;
    position: relative;
}

.jd_header>.jd_header_box>form>input{
    width: 100%;
    height: 30px;
    border-radius: 15px;

    margin-top: 5px;
    padding-left: 30px;
}

.jd_header>.jd_header_box>form>span{
    background-position: -60px -109px;
    width: 20px;
    height: 20px;
    display: block;

    position: absolute;
    top: 10px;
    left: 85px;
}

/* 轮播图 */
.jd_banner{
    width: 100%;
    overflow: hidden;
    position: relative;
}

.jd_banner>ul:first-child{
    width: 800%;
}

.jd_banner>ul:first-child>li{
    width: 12.5%;
    float: left;
}

.jd_banner>ul:first-child>li>img{
    width: 100%;
    display: block;
}
/*  轮播图点 */
.jd_banner>ul:last-child{
    width: 118px;
    height: 6px;
    position: absolute;
    left: 50%;
    margin-left: -59px;
    bottom: 10px;
}

.jd_banner>ul:last-child>li{
    float: left;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    border: 1px solid #fff;
    margin-left: 10px;
}

.jd_banner>ul:last-child>li:first-child{
    margin-left: 0;
}

.jd_banner>ul:last-child>li:last-child{
    background-color: #e0e0e0;
}

/* 导航栏 */
.jd_nav{
    width: 100%;
    height: 150px;
    border-bottom: 1px solid #e0e0e0;
    padding: 0 3.125%;
    background: #fff;
}

.jd_nav>ul{
    width: 100%;
}

.jd_nav>ul>li{
    width: 25%;
    height: 69px;
    float: left;
}

.jd_nav>ul>li>a{
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    padding-top: 10px;
}

.jd_nav>ul>li>a>img{
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

.jd_nav>ul>li>a>p{
    font-size: 12px;
    color: #666;
    margin-top: 5px;
}

/* 商品主题区块 */
.jd_product{
    margin: 0 auto;
}

/* 公共区域模块 */
.jd_product>.jd_product_box{
    box-shadow: 0 0 1px 1px #e0e0e0;
    background-color: #fff;
    margin-top: 8px;
}

.jd_product > .jd_product_box > .product_top{
    height: 32px;
    position: relative;
    border-bottom: 1px solid #e0e0e0;
}

.jd_product > .jd_product_box > .product_top.no_bor{
    border-bottom: none;
}

.jd_product > .jd_product_box > .product_top h3{
    font-size: 15px;
    color: #666;
    line-height: 32px;
    padding-left: 15px;
    font-weight: inherit;
}

.jd_product > .jd_product_box > .product_top h3::before{
    content: "";
    display: block;
    width: 3px;
    height: 12px;
    background: #d8505c;

    position: absolute;
    top: 10px;
    left: 8px;
}
/* */
.jd_secondKill .jd_secondKill_left{
    float: left;
    line-height: 32px;
}

.jd_secondKill .jd_secondKill_left .sk_icon{
    display: block;
    background: url('../images/seckill-icon.png') no-repeat;
    background-size: 16px 20px;
    width: 16px;
    height: 20px;

    float: left;
    margin-left: 8px;
    margin-top: 6px;
}

.jd_secondKill .jd_secondKill_left .sk_name{
    float: left;
    font-size: 15px;
    line-height: 32px;
    font-weight: inherit;
    color: #d8505c;
    margin-left: 5px;
}

.jd_secondKill .jd_secondKill_left .sk_time{
    float: left;
    margin-left: 8px;
    margin-top: 8px;
}

.jd_secondKill .jd_secondKill_left .sk_time .num{
    display: block;
    float: left;
    color: #fff;
    background: #333;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    margin-left: 3px;
}

.jd_secondKill .jd_secondKill_left .sk_time .str{
    display: block;
    float: left;
    color: #333;
    background: transparent;
    width: 3px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    margin-left: 3px;
}
.jd_secondKill .jd_secondKill_right{
    float: right;
    line-height: 32px;
    margin-right: 5px;
}

.jd_secondKill .product_bot{
    width: 100%;
}

.jd_secondKill .product_bot ul{
    width: 100%;
    padding: 10px 0;
}

.jd_secondKill .product_bot ul li{
    float: left;
    width: 33.333%;
}

.jd_secondKill .product_bot ul li a{

    width: 100%;
}

.jd_secondKill .product_bot ul li a .img_box{
     width: 100%;
     border-right: 1px solid #e0e0e0;
}
.jd_secondKill .product_bot ul li:last-child a .img_box{
    border-right: none;
}

.jd_secondKill .product_bot ul li a .img_box img{
    width: 64%;
    margin: 0 auto;
    display: block;
}
.jd_secondKill .product_bot ul li a .now_price{
    font-size: 13px;
    color: #d8505c;
    text-align: center;
    margin-top: 3px;
}

.jd_secondKill .product_bot ul li a .old_price{
    font-size: 13px;
    text-decoration: line-through;
    margin-top: 3px;
    color: #888;
    text-align: center;
}

/* 商品 */
.jd_product .jd_pd .product_bot{
    width: 100%;
}

.jd_product .jd_pd .product_bot .p_left{
    float: left;
    width: 50%;
}

.jd_product .jd_pd .product_bot .p_right{
    float: right;
    width: 50%;
}
.jd_product .jd_pd .product_bot .b_bottom{
    border-bottom: 1px solid #e0e0e0;
}

.jd_product .jd_pd .product_bot .b_left{
     border-left: 1px solid #e0e0e0;
}

.jd_product .jd_pd .product_bot .b_right{
    border-right: 1px solid #e0e0e0;
}

.jd_product .jd_pd .product_bot a img{
    width: 100%;
    display: block;
}
