
body{
    background: #f5f5f5;
}

.jd_layout{
    min-width: 300px;
    max-width: 640px;
    margin: 0 auto;
    position: relative;
}

/* 搜索的头部 */
.jd_header{
    width: 100%;
    position: fixed;
    height: 40px;
    top: 0;
    left: 0;
    z-index: 999;
}

.jd_header>.jd_header_box{
    min-width: 300px;
    max-width: 640px;
    height: 40px;
    margin: 0 auto;
    position: relative;
    background: rgba(201,21,35,0.85);
}

.jd_header>.jd_header_box>.icon_logo{
    background-position: 0 -103px;
    width: 60px;
    height: 36px;
    display: block;
    position: absolute;
    top: 4px;
    left: 10px;
}

.jd_header>.jd_header_box>.login{
    width: 50px;
    height: 40px;
    color: #fff;
    line-height: 40px;
    display: block;

    position: absolute;
    top: 0;
    right: 0;
}

.jd_header>.jd_header_box>form{
    width: 100%;
    height: 40px;
    padding-left: 75px;
    padding-right: 55px;
    position: relative;
}

.jd_header>.jd_header_box>form>input{
    width: 100%;
    height: 30px;
    border-radius: 15px;

    margin-top: 5px;
    padding-left: 30px;
}

.jd_header>.jd_header_box>form>span{
    background-position: -60px -109px;
    width: 20px;
    height: 20px;
    display: block;

    position: absolute;
    top: 10px;
    left: 85px;
}
